*{
	margin: 0;
	padding: 0;
	
}

body{
	width: 100%/
	height 100%;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6em;
	background-attachment: fixed;
	background-position: top center;
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,100,0.5)), url(../img/bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	
}

.wrapper{
	width: 90%;
	margin: 100px auto 50px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

/*.nav-bar{
	background: rgba(0,0,0,0.5);
	height: 80px;

}}*/

.logo{
	margin: 10px 90px;
	height: 60px;
	color: #fff;
}

.menu {
	float: right;
	list-style: none;
	margin: 20px 80px;
}

.menu li{
	display: inline-block;
	margin: 10px 5px;
}

.menu li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	font-family: sans-serif;
	letter-spacing: 2px;
	border: 1px solid #fff;
}

.menu li a:hover{
	background: #fff;
	transition: 0.4s;
	color: #000;

}
.main-header{
	width: 100%;
	height: 500px;
	background-image:linear-gradient(to left, #F09459, #e66586);
	position: relative;

}

.content{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	text-align: center;
}

.content h1{
	margin-bottom: 10px;
	line-height: 2.2em;
}

.start{
	display: block;
	margin: 30px auto 0px;
	text-align: center;
	padding: 5px;
	width: 150px;
	border:	1px solid #fff;
	border-radius: 25px;
	text-decoration: none;
	color: #fff;
}



.btn{
	font-size: 18px;
	letter-spacing: 2px;
	margin: 5px;
	padding: 7px 10px;
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 10px;
}

.btn1{
	background: #fff;
	color: #000;
}

.btn2 {
	color: #fff;
}

.btn2:hover {
	background: #fff;
	color: #000;
	transition: 0.4s;
}

.features{
	display: flex;
	height: auto;
	background: #fff;
	padding: 50px 0px;
}

.feature{
	display: flex;
	padding: 5px;
}


.feature-content{
	margin-left: 5px;
	padding: 0px 8px;
}

.feature-content p{
	margin-top: 10px;
	color: #444;
}

.feature .icon{
	display: grid;
	font-size: 30px;
	height: 30px;
	width: 30px;
	padding: 5px 10px;
	color: #F09450;
	border-radius: 13px;
}

.feature:hover .icon{
	background-image:linear-gradient(to right, #F09450, #e66585);
	color: #fff;

}

#our-story{
	width: 100%
	height: 500px;
	position: relative;
}

.story-wrapper{
	display: flex;
	position: relative;
}

.story-img{
	width: 50%;
	height: 500px;
}

.story-text{
	position: relative;
	width: 50%;
	height: 500px;
	background-image:linear-gradient(to left, #eb7d70, #e66585);
	color: #fff;
}

.story-text div{
	position: absolute;
	top: 50%;
	left: 4%;
	color: #fff;
}

.box{
	width: 40%;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	color: #999;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5)
}

.letter {
	width: 100%;
	padding: 70px 0px;
	background: #fff;
}

.control {
	width: 100%;
	text-align: center;
}

.control h3{
	font-size: 30px;
	line-height: 1.2em;

}

.control span{
	color: #999;
	display: block;
	margin: 10px 0px 20px;
}

.input{
	height: 35px;
	width: 250px;
	border:none;
	margin: 0px 10px 20px 0px;
	background: #f1f1f1;

}

.input:focus{
	outline: none;
	margin: 0px 10px
}

.btn{
	width: 150px;
	height: 35px;
	border: none;
	padding: 10px;
	background: #e66585;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin: 0px 10px;
}

.contact-wrapper{
	display: flex;
	justify-content: space-around;
	background: #F09450;
}

.contact{
	width: 30%;
	color: #fff;
	text-align: center;
	padding: 50px 0px;
}

.contact:hover{
	color:#e66586;
}


/*Responsive section*/

.hamburger {
	display: none;
	}
.mobile-menu{
	display: none;
}

@media(max-width: 900px){
	.menu{
		display: none;

	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 30px;
	}

	nav::after{
		content:none;
	}

	nav.logo{
		margin: 0;

	}

	.hamburger {
	display: block;
	cursor: pointer;

	}

	.hamburger .line{
	width: 50px;
	height: 5px;
	display: block;
	background-color: white;
	margin: 8px auto;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;

	}	

	.hamburger.is-active .line:nth-child(2){
		opacity: 0;
	}

	.hamburger.is-active .line:nth-child(1){
		transform: translateY(13px) rotate(45deg);
	}

	.hamburger.is-active .line:nth-child(3){
		transform: translateY(-13px) rotate(-45deg);
	}

	.mobile-menu{
		background-color: grey;
		box-sizing: border-box;
		line-height: 28.9px;
		list-style: none;
		padding: 3px;


	}

	.mobile-menu ul{
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;



	}
	.mobile-menu ul li:hover{
		background-color: green;
		
	}

	.mobile-menu ul li a{
		color: white;
		text-decoration: none;
	}

}

@media(max-width: 900px){
	.main-header{
		height: 500px;
	}
	.features{
		display: grid;
	}
	.feature{
		width: 100%;
		display: flex;
		margin: 0px auto;
		height: 200px;
	}
	.feature:hover .icon{
		background:none;
		color: #e66586;
	}
	.feature .icon {
		font-size: 100px;
		border-radius: 0px;
		height: 200px;
		width: 50%;
		color: #e66586;
		text-align: center;
	}
	.feature-content{
		width: 50%;
		padding-right: 10px;
		box-sizing: border-box;
	}
	.wrapper{
		width: 95%;
	}
}

@media(max-width: 900px){
	#our-story{
		height: auto;
	}

	.story-text .story-img{
		height: 50px;
	}

	.box{
		position: relative;
		margin: 0px;
		width: 100%;
		top: 0px;
		left: 0px;
		transform: none;
		box-sizing: border-box;
		background-image:linear-gradient(to right, #F09450, #e66585);
		color: #fff;
	

	}
}

@media(max-width: 900){

	.features{
		display: flex;
		flex-wrap: wrap;
	}
	.feature{
		display: block;
		text-align: center;
		height: auto;
	}
	.icon {
		font-size: 50px;
		height: auto;
		margin: auto;
	}
	.feature-content{
		width: 100%;
		margin: 0px auto;
	}
	.contact{
		width: 200px;
		margin: 0px auto;
		padding: 10px 10px;
	}
	.wrapper{
		width: 100%;
		margin: 0px 0px;

	}
}